<div class="min-w-screen border-solid border-8 border-primaryDark bg-primaryBg md:border-12">

<!--  Hero Section-->
  <div class="container text-primaryDark min-h-screen flex justify-center flex-col items-center">
    <div class="container flex justify-center">
      <img class="w-16" src="../assets/images/logo.png" alt="">
    </div>

    <div class="border border-solid border-lightGray w-11/12 p-10 mt-10 md:w-3/5 md:p-20 relative">
      <div class="name bg-primaryDark p-2">
        <h1 class="text-primaryBg">Braydon Coyer</h1>
      </div>

      <div class="flex justify-center items-center">
        <div>
          <h1 class="text-lg bold uppercase text-center md:text-2xl md:text-left">Full Stack Developer</h1>
          <h1 class="text-lg bold uppercase text-center md:text-2xl md:text-left">DOM Artist</h1>
          <h1 class="text-lg bold uppercase text-center md:text-2xl md:text-left">Dr. Pepper Lover</h1>
        </div>
      </div>

      <div class="location bg-primaryDark p-2">
        <h1 class="text-primaryBg">Dallas, TX</h1>
      </div>
    </div>
    <div class="text-4xl mt-24 md:mt-16">
      <a href="https://www.linkedin.com/in/braydon-coyer/" target="_blank"><fa-icon class="mx-8 cursor-pointer" [icon]="faLinkedIn"></fa-icon></a>
      <a href="https://codepen.io/braydoncoyer" target="_blank"><fa-icon class="mx-8 cursor-pointer" [icon]="faCodepen"></fa-icon></a>
      <a href="mailto:braydon@coyer.net" target="_blank"><fa-icon class="mx-8 cursor-pointer" [icon]="faEmail"></fa-icon></a>
    </div>

    <div class="mt-16 flex flex-col items-center text-primaryDark">
      <p class="text-lg uppercase">Scroll</p>
      <fa-icon class="mx-8 text-2xl" [icon]="faArrowDown"></fa-icon>
    </div>

  </div>


  <!-- Pitch -->
  <div class="container min-h-screen">
    <div class="flex items-center flex-col text-center">
      <h1 class="text-2xl md:text-3xl uppercase">Why I would be a good fit for</h1>
      <img class="w-2/5 mt-3 md:w-64" src="../assets/images/tailwindui-logo-on-light.png" alt="tailwind logo">
    </div>
    <div class="flex justify-center">
      <div class="mt-4 border-t border-solid border-lightGray w-2/5"></div>
    </div>

    <div class="mt-8">
      <p class="text-primaryDark">Hi Adam & Steve! Thank you very much for taking the time to consider me for the open position at Tailwind UI! I found Tailwind last year as I was starting on a new client project and immediately brought it to my team. While hesitant at first, all it took was a five minute demo and they were hooked.
        Our productivity increased significantly, and now I swear by the framework.
        When I saw there was an open position at Tailwind UI, I instantly started working on this site. Built with Tailwind, I wanted to present something unique and tailored to the job application.
      </p>

      <p class="mt-8 text-primaryDark">As a visual person, one of the ways I communicate is by creating and designing. That's why I chose web development as a career. While I am a full-stack developer, my true passion is frontend development. I love the challenge of taking a mockup and translating it into a pixel-perfect application. CSS is my obsession, and I always love learning new things that can help in my quest to make the web a more user-friendly & stunning place. </p>


      <p class="mt-8 text-primaryDark">My career started at a consulting company that had a primary focus on user experience and design, and stressed the importance of getting the frontend 'just right.' While there, I developed an eye for great designs that think of the end-user first.</p>
      <p class="text-primaryDark mt-8">Now years later, I've helped lead the development of several <span class="font-bold">component libraries</span> for various clients, including Southwest Airlines, FedEx and health care industry leaders.</p>
      <p class="text-primaryDark">I'm very active on <span class=" italic underline"><a href="https://codepen.io/braydoncoyer" target="_blank">CodePen</a></span> and love creating little projects to share.</p>

      <p class="mt-8 text-primaryDark">I’m a firm believer that one never truly stops learning and I'm looking to join a solid team and work on a product to help bring about change and make a difference.</p>
      <p class="text-primaryDark">Because of my past experience, and how Tailwind has changed my workflow, I believe I would make a great fit and believe we can continue to evolve a great product that has already helped so many people just like me.</p>
      <p class="text-primaryDark mt-8">To put it simply, I love the product. I have a passion for doing things like this. I would love the opportunity to help make a difference.</p>

      <p class="text-primaryDark mt-8">- Braydon</p>
    </div>
  </div>

  <!-- Projects -->
  <div class="container min-h-screen mt-20 md:mt-0">
    <div class="flex justify-center flex-col text-center">
      <h1 class="text-2xl md:text-3xl uppercase">Projects & Experience</h1>
    </div>
    <div class="flex justify-center">
      <div class="mt-4 border-t border-solid border-lightGray w-2/5"></div>
    </div>

    <p class="mt-8 text-primaryDark">The following include some of my side-projects. Many of the web applications I've worked on are multi-year projects and have yet to be released, including the three component libraries I've had the opportunity to help lead.</p>
    <p class="mt-8 text-primaryDark">For more of my work history and code snippets, please consider checking out my <a class="italic underline" href="https://www.linkedin.com/in/braydon-coyer/">LinkedIn</a> profile and <a class="italic underline" href="https://codepen.io/braydoncoyer">CodePen</a> account.</p>

    <div class="my-12 space-y-24">

      <div class="md:flex md:justify-center">
        <div class="border border-solid bg-gray-500 h-64 w-full md:w-2/5"></div>
        <div class="mt-8 md:ml-8 md:mt-0 md:w-3/5 flex justify-between flex-col">
         <div>
           <h1 class="text-lg bold md:text-2xl md:text-left">The Office API</h1>
           <p class="text-primaryDark mt-1">A fun side-project originally built with Spring Boot and MonogDb, rebuilt with with Node.js, Express, Mongoose and MongoDb. Deployed with Heroku.</p>

           <p class="text-primaryDark mt-5 italic">"I'm not superstitious, but I am a little stitious." -Michael Scott</p>

           <p class="text-primaryDark mt-5">Doesn't get much better than that.</p>
         </div>

          <div class="w-full flex justify-center cursor-pointer items-center bg-lightGray h-12 mt-8 md:w-2/5 hover:bg-gray-500">
            <h2 class="text-primaryBg font-bold">View Site</h2>
          </div>
        </div>
      </div>

      <div class="md:flex md:justify-center">
        <img class="bg-contain border border-solid h-64 w-full md:w-2/5" src="../assets/images/limeadeScreenshot.png" alt="">
        <div class="mt-8 md:ml-8 md:mt-0 md:w-3/5 flex justify-between flex-col">
          <div>
            <h1 class="text-lg bold md:text-2xl md:text-left">NgLimeade</h1>
            <p class="text-primaryDark mt-1">NgLimeade is an Angular Toast Library that aims to get toast notifications up and running in less than a minute! No joke!</p>
          </div>

          <a href="https://www.npmjs.com/package/ng-limeade" target="_blank">
            <div class="w-full flex justify-center cursor-pointer items-center bg-lightGray h-12 mt-8 md:w-2/5 hover:bg-gray-500">
              <h2 class="text-primaryBg font-bold">View Package</h2>
            </div>
          </a>
        </div>
      </div>

      <div class="md:flex md:justify-center">
        <div class="border border-solid bg-gray-500 h-64 w-full md:w-2/5"></div>
        <div class="mt-8 md:ml-8 md:mt-0 md:w-3/5 flex justify-between flex-col">
          <div>
            <h1 class="text-lg bold md:text-2xl md:text-left"> Bundle, LLC </h1>
            <p class="text-primaryDark mt-1">A startup consultant company needed a website spun up quickly in order to publish their first iOS application. Built with Tailwind UI, I was able to put something together for them by the end of the day.</p>
          </div>

          <div class="w-full flex justify-center cursor-pointer items-center bg-lightGray h-12 mt-8 md:w-2/5 hover:bg-gray-500">
            <h2 class="text-primaryBg font-bold">View Site</h2>
          </div>
        </div>
      </div>


      <iframe height="600" style="width: 100%;" scrolling="no" title="Air Balloon Cruise " src="https://codepen.io/braydoncoyer/embed/NWqYMmV?height=265&theme-id=dark&default-tab=result" frameborder="no" allowtransparency="true" allowfullscreen="true">
        See the Pen <a href='https://codepen.io/braydoncoyer/pen/NWqYMmV'>Air Balloon Cruise </a> by Braydon Coyer
        (<a href='https://codepen.io/braydoncoyer'>@braydoncoyer</a>) on <a href='https://codepen.io'>CodePen</a>.
      </iframe>

      <iframe height="600" style="width: 100%;" scrolling="no" title="Evening Lanterns " src="https://codepen.io/braydoncoyer/embed/NWqaBmK?height=265&theme-id=dark&default-tab=result" frameborder="no" allowtransparency="true" allowfullscreen="true">
        See the Pen <a href='https://codepen.io/braydoncoyer/pen/NWqaBmK'>Evening Lanterns </a> by Braydon Coyer
        (<a href='https://codepen.io/braydoncoyer'>@braydoncoyer</a>) on <a href='https://codepen.io'>CodePen</a>.
      </iframe>

      <iframe height="600" style="width: 100%;" scrolling="no" title="Neuomorphic Checkboxes" src="https://codepen.io/braydoncoyer/embed/yLyrWOq?height=265&theme-id=dark&default-tab=result" frameborder="no" allowtransparency="true" allowfullscreen="true">
        See the Pen <a href='https://codepen.io/braydoncoyer/pen/yLyrWOq'>Neuomorphic Checkboxes</a> by Braydon Coyer
        (<a href='https://codepen.io/braydoncoyer'>@braydoncoyer</a>) on <a href='https://codepen.io'>CodePen</a>.
      </iframe>
  </div>


<!--  Wrap Up-->
    <div class="container min-h-screen mt-20 flex justify-center items-center flex-col md:mt-0">
      <p class="text-4xl text-primaryDark">Thank You!</p>
      <div class="mt-4 border-t border-solid border-lightGray w-2/5"></div>
      <div class="text-4xl mt-8 md:mt-8">
        <a href="https://www.linkedin.com/in/braydon-coyer/" target="_blank"><fa-icon class="mx-8 cursor-pointer" [icon]="faLinkedIn"></fa-icon></a>
        <a href="https://codepen.io/braydoncoyer" target="_blank"><fa-icon class="mx-8 cursor-pointer" [icon]="faCodepen"></fa-icon></a>
        <a href="mailto:braydon@coyer.net" target="_blank"><fa-icon class="mx-8 cursor-pointer" [icon]="faEmail"></fa-icon></a>
      </div>
    </div>

</div>

<router-outlet></router-outlet>
